{
    "service":{
        "name":"node-export",
        "Address":"localhost",
        "Port":9100,
        "Check":{
            "TCP":"localhost:9100",
            "Interval":"30s"
        }
    }
}