* * * * * work run-parts /data/op_cron_jobs/cron_minutely
0 * * * * work run-parts /data/op_cron_jobs/cron_hourly
*/5 * * * * work run-parts /data/op_cron_jobs/cron_5_minutely
1 0 * * * work run-parts /data/op_cron_jobs/cron_daily
